body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.animated-title {
    font-size: 36px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#locationButtons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    background-color: #00ff00;
    color: #000000;
    border: none;
    padding: 15px 30px;
    margin: 0 15px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

/* Rating page styles */
#ratingStars {
    font-size: 48px;
    margin: 20px 0;
}

.star {
    cursor: pointer;
    padding: 0 10px;
}