body {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

button, .star {
    background-color: #00ff00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
}

#ratingStars {
    font-size: 48px;
}

.star {
    background-color: transparent;
    color: #00ff00;
}
